.Rproj.user
.Rhistory
.RData
.Ruserdata
District8.csv
District8Percent.csv
Gubernatorial2016Gen.xml
KY Precincts Merged Final.cpg
KY Precincts Merged Final.dbf
KY Precincts Merged Final.prj
KY Precincts Merged Final.qpj
KY Precincts Merged Final.shp
KY Precincts Merged Final.shx
KYPoliticalData.Rproj
kyprecinctsmergedfinal (1).zip

